<div class="container mx-auto mt-2 justify-center items-center min-h-screen ">
  <div class="hero">
    <div class="hero-content flex-col lg:flex-row">
      <img src="../../../assets/fdr11.png" class="max-w-64 rounded-lg shadow-2xl"  alt="me"/>
      <div>
        <h1 class="text-5xl font-bold">Welcome on my Portfolio!</h1>
          <div class="py-6">
            Hey, I'm a software developer. <br>
            I can solve <span class="line-through">all someone of your</span> problems ,ok? <br>
            BackEnd Developer from Varese, Italy.
            Trying to become a fullstack developer. <br>
            Passionate about technology. Always ready to learn and curious.
          </div>
        <a type="button" class="btn btn-primary" download="CurriculumFabioDellaRosa.pdf" href="../../../assets/curriculum/" target="_blank"> Download CV</a>
      </div>
    </div>
  </div>
</div>
